body{
	background: #e9ebee;
}

.chat_box,.msg_box{
	cursor: pointer;
	position: fixed;
	bottom: 0px;
	right:20px;
	background: white;
	width:250px;
	border-radius: 5px 5px 0px 0px;
	z-index:1;
}


.chat_head,.msg_head{
	background: #d35400;
	padding: 15px;
	color: white;
	border-radius: 5px 5px 0px 0px;
}


.chat_body{
	height: 400px;
}

.msg_head{
	background: #3498db;
}

.msg_body{
	overflow: auto;
	overflow-x:hidden; 
	height: 250px;
	font-size:12px;
	-webkit-overflow: auto;

}

.msg_box{
	width: 250px;
	background: white;
	bottom: -5px;
	z-index: 1;
}

.close{
	float:right;
}

.msg_input{
	width: 100%;
	padding: 5px;
	border:transparent;
	border-top:1px solid #bdc3c7;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.user-chat{
	cursor: pointer;
	padding: 20px 25px;
	position: relative;
}

.user-chat:hover{
	background: #f8f8f8;
}

.user-chat:before{
	content: "";
	position: absolute;
	background: #2ecc71;
	width: 10px;
	height:10px;
	left: 8px;
	top: 24px;
	border-radius: 5px;

}	


.msg_a{
	margin-top:10px;
	margin-right: 20px;
	margin-left:20px;
	padding: 15px;
	background: #99FFCC;
	position: relative;
	border-radius: 5px;
	min-height: 40px;
}


.msg_a:before{
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	top: 7px;
	left:-29px;
	border: 15px solid;
	border-color: transparent #99FFCC transparent transparent;

}


.msg_b{
	margin-top:10px;
	margin-right: 20px;
	margin-left:20px;
	padding: 15px;
	background: #FFFF99;
	position: relative;
	border-radius: 5px;
	min-height: 40px;
}


.msg_b:before{
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	top: 7px;
	right:-29px;
	border: 15px solid;
	border-color: transparent  transparent transparent #FFFF99;

}